<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h4>Change Password</h4>
</div>
<div class="container">
  <form method="post" action="/account/password/change">
    {{#if error}}
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <p class="text-danger"><strong>{{error}}</strong></p>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if validToken}}
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="newPassword">New Password:</label>

            <input type="password" class="form-control" name="newPassword" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </div>

        <input type="hidden" name="returnToUrl" value="{{{returnToUrl}}}" />
        <input type="hidden" name="token" value="{{token}}" />
      </div>
    {{else}}
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div>
              <strong>
              <a class="btn btn-xs btn-primary"
                 href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
                Email password reset link
              </a>
              </strong>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </form>
</div>
</body>
</html>
