<form method="post" action="/login">
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="alice" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" />
      </div>
    </div>
  </div>

  <div class="form-group">

    <button type="submit" class="btn btn-primary" id="login">Log In</button>

    <input type="hidden" name="response_type" id="response_type" value="{{response_type}}" />
    <input type="hidden" name="display" id="display" value="{{display}}" />
    <input type="hidden" name="scope" id="scope" value="{{scope}}" />
    <input type="hidden" name="client_id" id="client_id" value="{{client_id}}" />
    <input type="hidden" name="redirect_uri" id="redirect_uri" value="{{redirect_uri}}" />
    <input type="hidden" name="state" id="state" value="{{state}}" />
    <input type="hidden" name="nonce" id="nonce" value="{{nonce}}" />
  </div>
</form>
